/*h1{
    color: mediumvioletred;
}

h4{
    background-color: blueviolet;
}
h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 45px ;
    font-style: italic;
    text-decoration: underline;
}
p{
    text-align: justify;
    font-weight: 700;
    line-height: 25px;

}

.color{
    color: #a2db3f;
}
span{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
color: rgb(rgb(221, 63, 63), rgb(66, 114, 66), rgb(134, 134, 238));
color: hsl(hue, saturation, lightness);
}

.borde{
    border:solid 2px crimson;
    width: 500px;
    height: 200px;
    border-radius: 25px 25px 25px 25px;
}

section{
background-color: aqua;
}

section div{
    width: 500px;
    height: 200px;
    border: solid 2px black;
     overflow hiden es como recortar el area
    me oculta lo que no cabe en el recuadro
     margin es el margen de toda la pag la primera seria arriba,derecha,inf,izq y margin auto me centra elementos
    margin: 20px 20px;
    padding es la margen interna de un elemento
    padding: 30px; 
}

.uno {
    background-color: blueviolet;
}

.dos {
    background-color: crimson;
}
*/

.contenedor{
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.contenedor img{
    width: 100%;
}

.contenedor img:hover{
    transform: scale(1,2);
    transition: 2s;
}