/*h1{
    color: rgb(12, 12, 114);
}
h1{
    background-color: rgb(176, 248, 248);
}
h2{
    color: rgb(7, 7, 133);
}
header{
    background-color: aqua;
    }
    section p{
        color: blueviolet;
    }*/
    li{
        background-color: coral;
        color: azure;
    }
    #uno{
        background-color: darkgreen;
    }
    .dos{
        background-color: blueviolet;
        width:350px;
    }